.main{
    padding: 5%;
}

.table{
    width: 100%;    
    margin-left: auto;
    margin-right: auto;
}

.container{
    position:relative;
    float:center;
}
mat-card-content{
    overflow-x: auto;
}
.addbtn{
    position:relative;
    float:right;
}