.main{
    padding: 5%;
}

.table{
    width: 100vh;    
    margin-left: auto;
    margin-right: auto;
}

.container{
    position:relative;
    float:center;
}

.addbtn{
    position:relative;
    float:left;
    left:80%;
}
